---
import { Icon } from "astro-icon/components"
import type { CollectionEntry } from "astro:content"
import Tags from "~components/Tags.astro"

interface Props {
    posts: CollectionEntry<"posts">[]
    class?: string
}

const props = Astro.props;
---

{
    props.posts.length && (
        <ul class:list={[props.class]}>
            {
                props.posts.map((post) => (
                    <li class="mb-4">
                        <div class="mb-2">
                            🌟
                            <a href={`/posts/${post.slug}`} class="mb-2 text-lg md:text-xl font-bold text-content underline underline-offset-2 decoration-dashed" transition:name={`post-title:${post.slug}`}>
                                {post.data.title}
                            </a>
                        </div>
                        <div class="flex items-center mb-2 pl-0 md:pl-5 text-sm">
                            <Icon name="mdi:calendar" class="inline-block mr-2 w-4 h-4 text-content" />
                            {post.data.updatedAt}
                            <Tags class="ml-2" tags={post.data.tags} />
                        </div>
                        <div class="pl-0 md:pl-5 text-base">{post.data.description}</div>
                    </li>
                ))
            }
        </ul>
    )
}